<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-firebase-modern-all" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-firebase-modern-all</name>

    <platform name="android">
        <framework src="com.google.firebase:firebase-bom:33.5.1" type="gradle" />
        <framework src="com.google.firebase:firebase-analytics" type="gradle" />
        <framework src="com.google.firebase:firebase-messaging" type="gradle" />
        <framework src="com.google.firebase:firebase-crashlytics" type="gradle" />
        <framework src="com.google.firebase:firebase-perf" type="gradle" />
        <framework src="com.google.firebase:firebase-config" type="gradle" />
        <framework src="com.google.firebase:firebase-appcheck" type="gradle" />
        <framework src="com.google.firebase:firebase-inappmessaging-display" type="gradle" />
    </platform>

    <platform name="ios">
        <pod name="Firebase/Analytics" />
        <pod name="Firebase/Messaging" />
        <pod name="Firebase/Crashlytics" />
        <pod name="Firebase/Performance" />
        <pod name="Firebase/RemoteConfig" />
        <pod name="Firebase/AppCheck" />
        <pod name="Firebase/InAppMessaging" />
    </platform>
</plugin>
